<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>Database Management</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <h2>Connect to <u th:text="${databaseName}"></u> database</h2>
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th> Table Name</th>
                    <th> Column Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each=" tableDb : ${tables}">
                    <td th:text="${tableDb.tableName}"></td>
                    <td>
                        <div class="form-group">
                            <select class="form-control selectpicker">
                                <option th:each="tableDb : ${tableDb.columnName}"
                                        th:text="${tableDb}">
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>